{erlang_version, ">= 23"}.

{erl_opts, [
  debug_info,
  {src_dirs, ["src"]}
]}.

{deps, [
  {cowlib, "2.12.0"},
  {ranch, "2.1.0"},
  {cowboy, "2.9.0"},
  {mysql, "1.8.0"},
  {jiffy, "1.1.1"},
  {erlcloud, "3.6.7"}
]}.

{shell, [
  % {config, "config/sys.config"}, {apps, [simple_app]}
]}.
 
{eunit_tests, [
  {module, string_util_test}
]}.

